.image-container {
    direction: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.all-products-container {
    display: flex;
    justify-content: space-between;
}

.display-panel {
    display: flex;   
    flex-direction: column;
    width: 80%;
}

.all-products-menu {
    display: flex;
}

.right-side {
    margin-left: 20em; 
}

.sidebar-link {
    color: #6b6b6b;
}

.display-panel-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-item {
    margin-right: 1em;
}