
.acct-navbar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.left-navigation-menu {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    place-items: center;
    width: 30vw;
}

.right-navigation-menu {
    display: flex;
    /* width: 20vw; */
}

.dropdown {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative; 
}

.dropdown span {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 3px;
    background: purple;
    border-radius: 1px;
    transition: .5s;
}

.dropdown span:nth-child(1) {
    /* left: 14px;  */
    transform: rotate(-45deg);
}

.dropdown:hover span:nth-child(1) {
    /* left: 14px;  */
    transform: rotate(-135deg);
}

.dropdown span:nth-child(2) {
    /* right: 14px; */
    transform: rotate(45deg);
}

.dropdown:hover span:nth-child(2) {
    /* left: 14px;  */
    transform: rotate(135deg);
}

.dropdown a {
    color: #363636; 
    display: block;
    font-size: 14px;
    padding: 10px 15px;
}

.dropdown a:hover {
    background-color: #fff; 
}

.dropdown .content {
    position: absolute;
    display: none;
}

.dropdown:hover .content {
    margin-top: 5.5vh;
    display: block;
    background-color: #f9f9f9;
    text-align: start;
}

.navbar-account {
    display: flex;
    width: 125px;
    justify-content: space-between;
}

.button {
    background-color: #F8F9FA;
    border: none;
}

.icon {
    display: grid;
    /* grid-template-columns: 50px, 200px; */
    place-items: center;
    width: 10vw;
   
}

.button {
    background-color: #fff; 
}

a {
    color: #000;
}