.left-navigation-menu, .right-navigation-menu {
    font-family: SoDoSans,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
}

/* .left-navigation-menu {
    margin-right: 34%; 
} */

.right-navigation-menu {
    display: flex;
    justify-content: space-between;
    margin-right: 3.5vw;
    width: 19vw !important; 
}

.splash-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}

.fa {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    width: 6vw; 
}

.right-submenu {
    display: flex;
}

.sign-in {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-items: center;
    border: solid;
    border-width: 1px;
    height: 3.3vh;
    width: 4vw;
    border-radius: 2em;
    margin-right: 1em;
}

.join-now {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-items: center;
    background-color: #000000;
    color: #ffffff; 
    height: 3.3vh;
    width: 4vw;
    border-radius: 2em;
}