.left-navigation-menu, .right-navigation-menu {
    font-family: SoDoSans,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    /* width: 50%; */
}

.left-navigation-menu {
    margin-right: 34%; 
}

.right-navigation-menu {
    margin-right: 6%;
}

.container-fluid {
    width: 75%;
}

/* .fa {
    text-align: center;
} */