.left-navigation-menu, .right-navigation-menu {
    font-family: SoDoSans,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
}

.left-navigation-menu {
    /* margin-right: 34%;  */
}

.right-navigation-menu {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-right: 3.5vw;
}

.splash-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}

.fa {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    width: 6vw; 
}

.sign-in {
    border: solid;
}

.join-now {
    border: solid;
    background-color: #000000;
    color: #ffffff; 
}