.account-page-top {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.account-page-left {
    width: 50%;
    height: 550px; 
}

.account-image {
    height: 550px;
    width: 100%;
}
.account-page-right {
    width: 50%;
    height: 550px;
    background-color: #BAF2D0;
}