.left-navigation-menu, .right-navigation-menu {
    font-family: SoDoSans,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
}